@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

*{
    font-family: 'Noto Sans Thai', sans-serif !important;
    box-sizing: border-box;
}
label{
    font-size: 18pt;
}
input{
    font-size: 18pt;
}
@media print{
    body * {
        display: none;
    }
    #print-content, #print-content *{
        display: block;
    }
}